header {

	top: 0;
	left: 0;
	right: 0;
        position: fixed;
	display: flex;
	flex-direction: row;
	height: 50px;
	z-index: 2;
}
body {
	width:auto;
	border: 1px solid black;
	background-size: cover;
	font-family: Cambria, Arial;
	font-size: 17px;
	line-height: 1.6;
	margin-top: 80px;
	margin-left: 0;
	margin-right: 0;
	padding: 31.875px;
	padding-bottom: 0;
	background-color: antiquewhite;
	text-align: center;
}
nav ul li :hover {
  background-color: #DCDCDC;
}
nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li a{
         color: darkblue;
         padding: 13px 15px;
         text-decoration: none;
}
nav ul li a {
	     display: block;
	     align-items: center;
	     padding: 7.31px 29.75px;
	     font-size: 19px;
	     text-decoration: none;
	     white-space: pre-line;
             text-align: center;
	     font-family: Cambria, Arial;
	     color: darkgoldenrod;
}

}
nav{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    background-color: aliceblue;
    box-shadow: 0 0 21.25px 0 black;
    z-index: 2;

}
nav li {
  display: inline;
  text-align: center;
}

li, p {
  text-align: center;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
     object-fit: cover;
     object-position: 0 -1em;
     width: 850px;
     height: 600px;
}
embed{
      width: 850px;
      height: 600px;
}
h1, h2, h3, h4{
  font-family: Cambria,Arial;
  text-align:center;
}
h1 {
  font-size: 30px;
  color: coral;
  padding: 0.28em 0;
  position: relative;
  margin: 0;
}
h2 {
  color:coral ;
  font-size: 25px;
   padding: 0.28em 0;
  position: relative;
  margin: 0;
}
h3 {
  color: lightblue;
  font-size: 20px;
}
h4 {
  color: coral;
  font-size: 15px;
}

strong{
      text-align: left;
      font-family: Cambria,Arial;
      font-size: 15px;
      font-style: normal;
      color: lightblue;
}

#map {
      width: 850px;
      height: 700px;
      background-color: #c00;
      margin:0 auto;
      overflow: hidden;



}
@media only screen and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0
  }
  p {
    padding: 0em 2em;
  }
	img {
	     object-fit: cover;
	     object-position: 0 -1em;
	     width: 850px;
	     height: 600px;
	}
	embed{
	      width: 850px;
	      height: 600px;
	}
	h1, h2, h3, h4{
	  font-family: Cambria,Arial;
	  text-align:center;
	#map {
	        width: 850px;
	        height: 700px;
	        background-color: #c00;
	        margin:0 auto;
	        overflow: hidden;
}
  header {

			top: 0;
			left: 0;
			right: 0;
			position: fixed;
			display: flex;
			flex-direction: row;
			height: 50px;
			z-index: 2;

}
@media only screen and (min-width: 628px) {
  body {
    margin: 0;
    padding: 0
  }
  p {
    padding: 0em 2em;
  }
	img {
	     object-fit: cover;
	     object-position: 0 -1em;
	     width: 850px;
	     height: 600px;
	}
	embed{
	      width: 850px;
	      height: 600px;
	}
	h1, h2, h3, h4{
	  font-family: Cambria,Arial;
	  text-align:center;
	#map {
	        width: 850px;
	        height: 700px;
	        background-color: #c00;
	        margin:0 auto;
	        overflow: hidden;
}
  header {

			top: 0;
			left: 0;
			right: 0;
			position: fixed;
			display: flex;
			flex-direction: row;
			height: 50px;
			z-index: 2;

}
